@model IEnumerable<Puzzles.Models.PuzzleProducts>

@{
    ViewBag.Title = "Start by creating a puzzle!";
}

<div class="page-header">
    <h1><em>Manage Puzzle Products</em></h1>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<body>

    <div class="panel panel-default">

        <div class="panel-heading">
            <strong>Puzzle Products</strong>

        </div>


        <table class="table">

            <tr>

                <td><strong>Type of Puzzle</strong></td>
                <td><strong>$ Price</strong></td>

            </tr>

            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeOfPuzzle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
                    </td>
                </tr>
            }

        </table>
    </div>



</body>



